body {
  margin: 20px;
}

.notification {
  --black: #121212;
  --green: #22be61;
  --gray: #9b9a90;
  --white: #fff;

  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 0.25rem;
  padding: 1.25rem;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1.25rem;
  align-items: center;

  .notification-icon {
    flex: 0 0 auto;
  }

  .notification-content {
    flex: 1 1 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 0.25rem;

    strong {
      color: var(--green);
      font-size: 1.125rem;
      font-weight: 700;
    }

    time {
      color: var(--green);
      font-size: 1rem;
    }

    p {
      color: var(--gray);
      inline-size: 100%;
      font-size: 1rem;
    }
  }
}
